<nav id="navigation">
  <ol>
  {% for item in navigation %}
    <p>{{item.current}}</p>
    <li>
    <a href="#{{item.permalink}}index.html"
       class="navlink {{item.module}}"
       data-module="{{item.module}}" >
      {{item.name}}
    </a></li>
  {% endfor %}
  </ol>
</nav>
